<div class = "row">
	<div class = "small-12 large-12 columns">
		<h3>Le 1er réseau social réservé à la garde d'enfants et pour aider les parents</h1>
	</div>
</div>

	<div class ="row">
		<div class = "small-2 large-5 columns">
		</div>

		<div class = "small-10 large-7 columns">
			<div id = "problem">
				<h1> <p> <strong> Vous êtes parent célibataire ou en couple </strong></p> </h1>
				<p> Vous ne trouvez personne pour faire garder vos enfants le temps d'un entretien professionnel ou lors de toutes autres contraintes </p>
				<p> Vous êtes dans l'incapacité d'aller récupérer votre enfant à la sortie d'école </p>
				<p> Les systèmes de garde usuels ne sont pas adaptés à ces situations d'urgences! </p>
			</div>

			<div id = "question">
				<p> Alors qui solliciter? Comment faire? </p>
			</div>

			<div id = "solution">
				<p> Et pourquoi ne pas s'adresser à d'autres parents pour assurer la garde de vos enfants? </p>
					<ul> <p> XX est la première platforme de rencontre:</p> 
						<li> dédiée aux parents résidant dans la même ville pour créer des groupes amis/parents </li>
						<li> et ce dans l'optique de faire garder leurs enfants par les parents-eux-mêmes </li>
					</ul>
			</div>
		</div>
	</div>
